.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 300px;
    background-color: rgb(192, 190, 189);
    border-radius: 50px;
    border: outset 5px rgb(179, 75, 75) ;
}
.card:hover{
    border: outset 5px rgb(151, 59, 59);
    background-color: rgb(211, 155, 155);
}

.img{
    height: 250px;
    border-radius: 50px;
}

.name{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}