.background{
    background-image: url(https://scontent.faep7-1.fna.fbcdn.net/v/t1.6435-9/120792223_108813930992194_6679149547787749679_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=e3f864&_nc_eui2=AeHTCxJ6qksE05cbF-GVT-9XMmVmjL816L4yZWaMvzXovkMhuj6rZWUx1-W_geOGOylRh0jJTPLElU6ojgFvpe9f&_nc_ohc=HeJx8aUHifAAX_Us1ri&_nc_ht=scontent.faep7-1.fna&oh=4182c1cd923fa8ce4cea5e806cf3a8c1&oe=61824344);
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;;
}